name: CI

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Client Tests
        run: |
          docker build -t react-test -f ./client/Dockerfile.dev ./client
          docker run -e CI=true react-test npm test
